# frps.toml
bindAddr = "0.0.0.0"
bindPort = 7000  # 客户端连接的端口

# 认证令牌，客户端需要提供相同的令牌才能连接
auth.method = "token"
auth.token = "TalJVoGphYiR79wf0ElBaDS1OBA66fN88amcjlql"

#Web 管理面板
webServer.addr = "0.0.0.0"
webServer.port = 7500
webServer.user = "admin"
webServer.password = "123456"
               